---
layout: base
---
<h1>{{ page.title }}</h1>

<div id="filters">
  <div class="filter-btn-container">
    {% assign all_filters = '' | split: '' %}
    {% for item in page.catalog %}
      {% for filter in item.filters %}
        {% unless all_filters contains filter %}
          {% assign all_filters = all_filters | push: filter %}
        {% endunless %}
      {% endfor %}
    {% endfor %}
    
    {% for filter in all_filters %}
      <button class="filter-btn {% if page.special_filters contains filter %}highlight{% endif %}" data-filter="{{ filter }}">{{ filter }}</button>
    {% endfor %}
  </div>
</div>

<div id="catalog-list">
  {% for item in page.catalog %}
    <div class="catalog-item" data-filters="{{ item.filters | join: ',' }}">
      <img src="{{ item.logo | relative_url }}" alt="{{ item.name }} logo">
      <h2>{{ item.name }}</h2>
      <p>{{ item.description }}</p>
      <a href="{{ item.pedia_link | relative_url }}" class="learn-more">Learn More</a>
      {% if item.github %}
        <a href="{{ item.github }}" target="_blank" rel="noopener noreferrer" class="github-link">
          <img src="/assets/images/github-icon.svg" alt="GitHub" class="icon">
        </a>
      {% endif %}
      <a href="{{ item.website }}" target="_blank" rel="noopener noreferrer" class="website-link">
        <img src="/assets/images/website-icon.svg" alt="Official Website" class="icon">
      </a>
      <div class="filters">
        {% for filter in item.filters %}
          <span class="filter-tag {% if page.special_filters contains filter %}highlight{% endif %}">{{ filter }}</span>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const filterButtons = document.querySelectorAll('.filter-btn');
  const catalogItems = document.querySelectorAll('.catalog-item');

  let activeFilters = new Set();

  function updateURL() {
    const searchParams = new URLSearchParams();
    activeFilters.forEach(filter => searchParams.append('filter', filter));
    const newURL = `${window.location.pathname}?${searchParams.toString()}`;
    history.pushState(null, '', newURL);
  }

  function applyFilters() {
    catalogItems.forEach(item => {
      const itemFilters = item.dataset.filters.split(',');
      if (activeFilters.size === 0 || Array.from(activeFilters).every(filter => itemFilters.includes(filter))) {
        item.style.display = 'block';
      } else {
        item.style.display = 'none';
      }
    });
  }

  filterButtons.forEach(button => {
    button.addEventListener('click', function() {
      const filter = this.dataset.filter;
      
      if (this.classList.contains('active')) {
        this.classList.remove('active');
        activeFilters.delete(filter);
      } else {
        this.classList.add('active');
        activeFilters.add(filter);
        
        this.style.animation = 'none';
        this.offsetHeight;
        this.style.animation = null;
      }

      applyFilters();
      updateURL();
    });
  });

  const urlParams = new URLSearchParams(window.location.search);
  const urlFilters = urlParams.getAll('filter');
  if (urlFilters.length > 0) {
    urlFilters.forEach(filter => {
      const button = document.querySelector(`.filter-btn[data-filter="${filter}"]`);
      if (button) {
        button.classList.add('active');
        activeFilters.add(filter);
      }
    });
    applyFilters();
  }

  window.addEventListener('popstate', function() {
    activeFilters.clear();
    const urlParams = new URLSearchParams(window.location.search);
    const urlFilters = urlParams.getAll('filter');
    
    filterButtons.forEach(button => {
      if (urlFilters.includes(button.dataset.filter)) {
        button.classList.add('active');
        activeFilters.add(button.dataset.filter);
      } else {
        button.classList.remove('active');
      }
    });
    
    applyFilters();
  });
});
</script>