---
layout: base
---
{% assign locale = page.locale %}

<div class="section-grid">
  <div class="section-item" id="brokers">
    <a href="{{ page.lang }}/brokers/">
      <i class="fas fa-exchange-alt"></i>
      <h2>{{ locale.brokers }}</h2>
    </a>
  </div>
  <div class="section-item" id="soft">
    <a href="{{ page.lang }}/soft/">
      <i class="fas fa-laptop-code"></i>
      <h2>{{ locale.software }}</h2>
    </a>
  </div>
  <div class="section-item" id="market-data">
    <a href="{{ page.lang }}/market-data/">
      <i class="fas fa-chart-line"></i>
      <h2>{{ locale.marketdata }}</h2>
    </a>
  </div>
  <div class="section-item" id="community">
    <a href="{{ page.lang }}/community/">
      <i class="fas fa-users"></i>
      <h2>{{ locale.community }}</h2>
    </a>
  </div>
  <div class="section-item" id="pedia">
    <a href="{{ page.lang }}/pedia/">
      <i class="fas fa-book"></i>
      <h2>{{ locale.algopedia }}</h2>
    </a>
  </div>
</div>