---
layout: base
---
<h1>{{ page.title }}</h1>

<ul>
  {% assign letter_posts = site.pages | where_exp: "item", "item.path contains page.lang" | where_exp: "item", "item.path contains page.section" | where_exp: "item", "item.path contains page.letter" %}
  {% for post in letter_posts %}
    {% assign filename = post.path | split: '/' | last %}
    {% assign starts_with_letter = filename | slice: 0 | downcase %}
    {% if starts_with_letter == page.letter and post.title and post.title != page.title and post.name != 'index.md' %}
      <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<p><a href="{{ page.section | prepend: '/' | relative_url }}">Back to {{ page.section | capitalize }} Index</a></p>