---
layout: base
---
<div class="subscribe-container">
    <h1>{{ page.locale.subscribe_title }}</h1>
    <p>{{ page.locale.subscribe_intro }}</p>
    <div class="form-container">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdSB_lG9KbQ5mfUVav_skJdv2cpcoKcibUmirX8R2C2yL7hYw/viewform?embedded=true" width="640" height="641" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
    <p>{{ page.locale.subscribe_outro }}</p>
    <p><em>{{ page.locale.subscribe_nospam }}</em></p>
</div>